.converter {
    width: 85%;
    margin: 50px auto;
    min-height: 600px;
    text-align: center;
}
.input-data{
    margin-top: 285px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid grey;  
    width: 12%;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
}

.output-data{
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding: 4px;
    display: block;
    border: 1px solid grey;
    width: 12%;
    font-size: 14px;
    color: white;
    height: 35px;
    box-sizing: border-box;
    background-color:rgba(20, 19, 19, 0.5);
}